Django==1.11.15
chardet==2.2.1
colorama==0.2.5
dj-database-url==0.5.0
gunicorn==19.9.0
html5lib==0.999
psycopg2==2.7.7
pycurl==7.19.3
pytz==2018.9
requests==2.2.1
six==1.5.2
urllib3==1.7.1
wheel==0.38.1
